header {
  padding: 50px 20px 30px 20px;
  background: #eeeeee;
  margin-bottom: 20px;
}

#logo {
  margin: 0 auto;
}

#logo-box {
  text-align: center;
}

#title-box {
  text-align: center;
  margin-top: 2.2em;
}
