<!DOCTYPE html>
<html lang="en">
<head>

<title>{{ page.title }}</title>

<meta charset="utf-8">
<meta name="description" content="A JSON-compatible format with rich type annotations">
<meta name="author" content="Tony Arcieri">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

<link href="css/bootstrap.min.css" rel="stylesheet">
<link href="css/style.css" rel="stylesheet">

</head>

<body>

<header>
  <div class="container">
    <div id="header-links">
      <a href="faq.html" class="header-faq"><small>FAQ</small></a>
      <a href="draft-tjson-spec.html" class="header-specs"><small>Specs</small></a>
      <a href="https://github.com/tjson" class="header-github"><small>GitHub</small></a>
      <a href="https://groups.google.com/forum/#!forum/tjson" class="header-group"><small>Group</small></a>
      <a href="https://gitter.im/tjson/Lobby" class="header-gitter hidden-xs-down"><small>Gitter</small></a>
    </div>
    <div class="row">
      <div id="logo-box" class="col-lg-6">
        <a href="/"><img id="logo" src="img/tjson-sm.png" alt="TJSON" width="270" height="160"></a>
      </div>
      <div id="title-box" class="col-lg-6">
        <h1>Introducing TJSON:</h1>
        <h3>Tagged JSON with Rich Types</h3>
      </div>
    </div>
  </div>
</header>

{{ content }}

<script src="js/jquery-3.0.0.min.js"></script>
<script src="js/tether.min.js"></script>
<script src="js/bootstrap.min.js"></script>

</body>
</html>
